global:
  resolve_timeout: 5m
receivers:
- name: PodDisruptionBudgetAtLimit
  webhook_configs:
  - send_resolved: false
    url: "http://el-pdb-fixer.events.svc.cluster.local:8080"
- name: TargetDown
  webhook_configs:
  - send_resolved: false
    url: "http://el-metrics-target-fixer.events.svc.cluster.local:8080"
- name: Default
route:
  group_by:
  - namespace
  group_interval: 5m
  group_wait: 30s
  receiver: Default
  repeat_interval: 12h
  routes:
  - receiver: PodDisruptionBudgetAtLimit
    matchers:
    - alertname=PodDisruptionBudgetAtLimit
      namespace!="openshift-"
  - receiver: TargetDown
    matchers:
    - alertname=TargetDown
